@model Paragraph.Services.DataServices.Models.Category.ListCategoriesModel

@{
    ViewData["Title"] = "All";
}

<h2>All Categories</h2>

@if (this.User.IsInRole("Admin") || this.User.IsInRole("Moderator"))
{
    <p>
        <a asp-controller="Category" asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>Category</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Categories)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    <a class="btn btn-default" asp-controller="Category" asp-action="Articles" asp-route-id="@item.Id">See All Articles</a>
                </td>
            </tr>
        }
    </tbody>
</table>
