@using System.Web;


@model Paragraph.Services.DataServices.Models.Category.CategoryWithArticlesModel

@{
    ViewData["Title"] = "Articles";
}

<h2>@Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
              
        @foreach(var article in Model.Articles)
        {
      
            <dt><strong>@article.Title</strong></dt>
            <dd><a class="btn btn-default" asp-controller="Article" asp-action="Details" asp-route-id="@article.Id">Read All</a></dd>
        <br />
        }
    </dl>


</div>
<div>   
    <a asp-action="All">Back to Categories</a>
</div>
