@using System.Web;


@model Paragraph.Services.DataServices.Models.Category.CategoryWithArticlesModel

@{
    ViewData["Title"] = "Articles";
}

<h2>@Model.Name</h2>

<div>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Articles)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        <a class="btn btn-default" asp-controller="Article" asp-action="Details" asp-route-id="@item.Id">Read Article</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div>   
    <a asp-controller="Category" asp-action="All">Back to Categories</a>
</div>
